#body{
      background-image: url("https://www.doutorecommerce.com.br/wp-content/uploads/2019/01/personalidade-loja-virtual-instagram.jpg");
      background-size: 1500px;
  }

  #footer{
      background-color: black;   
      color: white;
      font-size: 17px;
      height: 50px;
      display: flex;  
 }
  
  #logo{
      width: 50px;     
  }
  .card{
      position: static;
      margin-bottom: 10px;
      padding-right: 10px;
       margin-left:5px;
       
      display: block;
      background-color: darkslategrey;
      color: white;     
  }
  .text{
      font-size: 20pt;
      font-family:fantasy;
      font-style: italic;
  }
  
  .txt-title{
      text-align: center;
      font-size: 40px;
      color:black;
     
  }
  #txt-botton{
      margin:auto ;
  }
  .button{
      background-color: darkslategrey;
      color: wheat;
      transition-delay: 0.1s;
  }
  button:hover,button focus{
      background-color: red;
  }
                             /*Pagina de Produtos*/
  #produtos{
      background-image: url("https://www.doutorecommerce.com.br/wp-content/uploads/2019/01/personalidade-loja-virtual-instagram.jpg");
  }
  
  #img_not{
      width: 12rem;
      
  }
    
  
 .dropbtn {
  
  color: #0000FF;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #323232;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: springgreen;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #3e8e41}
.nav-item a:hover {background-color: #3e8e41; }

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn  {
  background-color: #3e8e41;
}

/*Pagina de Cadastro do usuario*/

 #CadastroUsuario{
     
      background-color: blue;
      height: 400px;
      width: 400px;
      border-radius: 10%;
      margin-left: auto;
      margin-right: auto;
      
  }